#input{
  
  width: 70%;

}
body {
  background-image: url("https://c.wallhere.com/photos/99/83/Github_code_logo_open_source_versioning-126015.jpg!d");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 20%;
}